@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
:root {
  --notion-default: #373530;
  --notion-gray: #787774;
  --notion-brown: #976D57;
  --notion-orange: #CC782F;
  --notion-yellow: #C29343;
  --notion-green: #548164;
  --notion-blue: #487CA5;
  --notion-purple: #8A67AB;
  --notion-pink: #B35488;
  --notion-red: #C4554D;

  --notion-bg-default: #FFFFFF;
  --notion-bg-gray: #F1F1EF;
  --notion-bg-brown: #F3EEEE;
  --notion-bg-orange: #F8ECDF;
  --notion-bg-yellow: #FAF3DD;
  --notion-bg-green: #EEF3ED;
  --notion-bg-blue: #E9F3F7;
  --notion-bg-purple: #F6F3F8;
  --notion-bg-pink: #F9F2F5;
  --notion-bg-red: #FAECEC;

  --notion-background: #FFFFFF;
}

/* Dark Theme */
[data-theme="dark"] {
  --notion-default: #D4D4D4;
  --notion-gray: #9B9B9B;
  --notion-brown: #A27763;
  --notion-orange: #CB7B37;
  --notion-yellow: #C19138;
  --notion-green: #4F9768;
  --notion-blue: #447ACB;
  --notion-purple: #865DBB;
  --notion-pink: #BA4A78;
  --notion-red: #BE524B;

  --notion-bg-default: #191919;
  --notion-bg-gray: #252525;
  --notion-bg-brown: #2E2724;
  --notion-bg-orange: #36291F;
  --notion-bg-yellow: #372E20;
  --notion-bg-green: #242B26;
  --notion-bg-blue: #1F282D;
  --notion-bg-purple: #2A2430;
  --notion-bg-pink: #2E2328;
  --notion-bg-red: #332523;

  --notion-background: #191919;
}

body {
  background-color: var(--notion-background);
  color: var(--notion-default);
}